<div class="col-xs-12">
  <div class="body-content">
    <h1>About</h1>
    <p>
      GortPong is a collaborative effort by various members of Team Gort, the BitMaker Web Dev cohort beginning in Jan 2016. Check out the <%= link_to "GitHub repo", "https://github.com/pilifs/gortpong" %> to see contributors or to get involved.
    </p>
  </div>
</div>
