<div class="col-xs-12 col-lg-6">
  <div class="body-content">
    <h1>About</h1>
    <p>
      GortPong is a collaborative effort by various members of Team Gort, the Bitmaker Web Dev cohort beginning in Jan 2016. The project was co-founded by Filip Stankovic and Chris Staikos in week 3 of the program. Our first live "alpha" release went live at the end of week 4.
    </p>
    <p>
      This site is our first ever "real" (ie: non-tutorial) Rails project. As such, it is a continuous work in progress with changes being made as we improve our web development skills. Check out the <%= link_to "GitHub repo", "https://github.com/pilifs/gortpong" %> to see contributions or to get involved.
    </p>
  </div>
</div>

<div class="col-xs-12 col-lg-6">
  <div class="body-content">
  <h1>Rules</h1>
    <ul>
      <li>
        Ladder games are to 21 points
      </li>
      <li>
        Serves must start in an open palm (so as to avoid putting initial spin on the ball)
      </li>
      <li>
        Serves must be thrown vertically at least 16cm to avoid surprising your opponent
      </li>
      <li>
        Serves that hit the net but make it over are to be re-served with no points awarded.
      </li>
      <li>
        Any other play that hits the net but makes it over is to continue play
      </li>
    </ul>
  </div>
</div>
