<div class="col-lg-12">
  <div class="col-lg-12 full-width-content">
    <h1>Rules</h1>
    <ul>
      <li>
        Ladder games are to 21 points
      </li>
      <li>
        Serves must be thrown up and allowed to fall at least 6 inches before hitting
      </li>
      <li>
        Other rules
      </li>
    </ul>
  </div>
</div>
