<div class="col-xs-12">
  <div class="body-content">
  <h1>Rules</h1>
    <ul>
      <li>
        Ladder games are to 21 points
      </li>
      <li>
        Serves must start in an open palm (so as to avoid putting initial spin on the ball)
      </li>
      <li>
        Serves must be thrown vertically at least 16cm to avoid surprising your opponent
      </li>
      <li>
        Serves that hit the net but make it over are to be re-served with no points awarded.
      </li>
      <li>
        Any other play that hits the net but makes it over is to continue play
      </li>
    </ul>
  </div>
</div>
