<h1>Rankings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Games Played</th>
  </tr>
  <% @players.each do |player| %>

  <tr>
    <td>
      <%= player.display_name %>
    </td>
    <td>
      <%= player.wins %>
    </td>
    <td>
      <%= player.losses %>
    </td>
    <td>
      <%= player.games_played %>
    </td>
  </tr>
      
  <% end %>

</table>
