.at-a-glance {
  width: 63.9%;
  float: left;
}

.statbox {
  height: 134px;
  border: 1px solid #ddd;
  width: 100%;
  padding: 5px;
}

.stat-wrapper {
  width: 20%;
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.first-box {
  padding-left: 12px;
}

.last-box {
  padding-right: 12px;
}
