// TODO: setup actual responsiveness for at a glance stats. This involves making the logo responsive and hiding a box as it gets smaller. For now just hide for laptop size and lower.

@media all {
  .at-a-glance {
    display: block;
    width: 63.9%;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
  }

  .statbox {
    height: 134px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 5px;
  }

  .stat-wrapper {
    width: 20%;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 1200px) {
 .at-a-glance {
    display: none;
 }
}

@media screen and (max-width: 992px) {
 .at-a-glance {
    display: none;
 }
}
