// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-change {
  font-size: 13px;
  font-weight: bold;

  &.winner {
    color: green;
  }

  &.loser {
    color: #ce463a;
  }
}

.video_wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.required::after{
  content:" *";
  color: red;
}
