<!-- 6 statboxes, 2 cols each, list should be unstyled with essentially no spacing between names -->
<!-- Div can be styled with something interesting like drop shadow or a border. Depends on our colour scheme -->
<!-- TODO: Figure out how to pass variables into this -->

<div class="at-a-glance">
  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      PLUS / MINUS
      <% @plus_minus.each do |p| %>
        <%= "#{p.display_name} #{p.plus_minus}" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      BIGGEST MOVERS
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      Test
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      Test
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      Test
    </div>
  </div>

</div>
