<div class="at-a-glance">
  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      PLUS / MINUS
      <% @ag_plus_minus.each do |player| %>
        <%= link_to player.display_name, player %> <%= "#{player.plus_minus}" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      BIGGEST MOVERS
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      Test
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      Test
    </div>
  </div>

  <div class="col-md-2 stat-wrapper">
    <div class="statbox">
      Test
    </div>
  </div>

</div>
